$light-bold: 500;
$bold: 700;
$Orange: hsl(25, 97%, 53%);
$White: hsl(0, 0%, 100%);
$LightGrey: hsl(217, 12%, 63%);
$DarkBlue: hsl(213, 19%, 18%);
$VeryDarkBlue: hsl(216, 12%, 8%);

.flex-column {
  display: flex;
  flex-direction: column;
}

html {
  height: 100%;
}

body {
  font-family: 'Overpass', Arial, Helvetica, sans-serif;
  height: 100%;
  background-color: $VeryDarkBlue;
  display: flex;
  align-items: center;
}

body p {
  line-height: 1.6;
  font-size: 15px;
  color: $LightGrey;
}

body h1 {
  color: $White;
  font-weight: $light-bold;
  font-size: 1.5rem;
}

body button:hover {
  cursor: pointer;
}

.card {
  max-width: 400px;
  width: 90%;
  margin-inline: auto;
  padding: 1.9rem 1.7rem 1.9rem 1.7rem;
  background-color: hsl(212, 21%, 14%);
  border-radius: 25px;
  box-shadow: 0 5px 25px hsla(0, 0%, 0%, 0.2);

  .main-state {
    .star-logo {
      width: 100%;

      img {
        background-color: $DarkBlue;
        padding: 0.9rem;
        border-radius: 360px;
      }
    }

    .main-content {
      gap: 0.6rem;

      .rating-btn-list {
        display: flex;
        justify-content: space-between;

        .rating-btn {
          position: relative;
          font-weight: $bold;
          color: $LightGrey;
          background-color: $DarkBlue;
          border-radius: 50%;
          border-color: transparent;
          transition: scale 0.2s;

          span {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }

        .hoverable:hover {
          scale: 1.1;
          background-color: $White;
          color: $VeryDarkBlue;
        }

        .actived {
          background-color: $Orange;
          color: $VeryDarkBlue;
        }

      }

      .submit-btn {
        font-size: 0.9rem;
        font-weight: 900;
        letter-spacing: 2px;
        padding-top: 0.9rem;
        background-color: $Orange;
        color: $VeryDarkBlue;
        border-color: transparent;
        border-radius: 25px;
        transition: scale 0.2s;
      }

      .submit-btn:hover {
        scale: 1.02;
        background-color: $White;
      }
    }
  }

  .thanks-state {
    gap: 1.7rem;

    .thanks-logo {
      img {
        margin-inline: auto;
      }
    }

    .user-rating {
      p {
        width: max-content;
        padding: 0.5rem 1.2rem;
        padding-top: 0.6rem;
        margin-inline: auto;
        background-color: $DarkBlue;
        color: hsla(25, 57%, 51%);
        border-radius: 25px;
      }
    }

    .thanks-message {
      gap: 0.8rem;

      h1 {
        text-align: center;
        font-size: 1.6rem;
        padding-top: 0.8rem;
      }

      p {
        text-align: center;
      }
    }
  }
}

.attribution {
  position: absolute;
  left: 50%;
  bottom: 15%;
  transform: translateX(-50%);
  font-size: 11px;
  text-align: center;
  line-height: 1.8;
  color: white;

  a {
    color: hsl(228, 45%, 44%);
  }
}

@media (min-width: 376px) {
  .main-state {
    gap: 2.5rem;
  }

  .main-content {
    h1 {
      font-size: 1.7rem;
    }
  }

  .thanks-state {
    padding-block: 1rem;
  }

  .rating-btn-list {
    padding-block: 1rem 1.5rem;

    .rating-btn {
      font-size: 0.9rem;
      padding: 1.6rem;
    }
  }
}

@media (max-width: 376px) {
  .main-state {
    gap: 1.8rem;
  }

  .main-content {
    h1 {
      font-size: 1.5rem;
    }
  }

  .main-content, .thanks-message {
    p {
      font-size: 0.9rem;
    }
  }

  .thanks-state {
    padding-block: 0;

    .thanks-logo img {
      width: 150px;
    }

    .user-rating {
      p {
        font-size: 0.9rem;
      }
    }
  }

  .rating-btn-list {
    padding-block: 0.8rem 1rem;

    .rating-btn {
      font-size: 0.8rem;
      padding: 1.3rem;
    }
  }
}